<h1>Your collections</h1>

<% @collections.each do |collection| %>

    <%= render :partial => "collection", :object => collection %>

<% end %>


<br />

<%= link_to 'New Collection', new_collection_path %>
