<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>estiquetAR | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>The about of etiquetAR</h1>
    <p>
      This is the about page for etiquetAR.
    </p>
  </body>
</html>