<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>estiquetAR | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact the team of etiquetAR</h1>
    <p>
      This is the contact page for etiquetAR.
    </p>
  </body>
</html>