<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>estiquetAR | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact the team of etiquetAR</h1>
    <p>
    etiquetAR has been developed as part of the <a href="http://www.slideshare.net/yandim/eee-project-summary">EEE project</a>, (TIN2011-28308-C03-03). 

    Original idea: Mar Pérez-Sanagustín
    Developers: Mar Pérez-Sanagustín, Alejandro Martínez and Iago Rodríguez López

    This work has been partially funded by the EEE project, (TIN2011-28308-C03-03).  


    </p>
  </body>
</html>