<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>estiquetAR | <%= yield(:title) %></title>
  </head>

    <h1>Contact the team of etiquetAR</h1>
    <div class="span12" >
	    <p>
	   	etiquetAR has been developed within the <a href="https://gradient.it.uc3m.es/xowiki/main_page">Gradient Lab</a> of the group "Grupo de Aplicaciones Telemáticas" (<a href="http://www.gast.it.uc3m.es/">GAST</a>) the <a href="http://www.uc3m.es/portal/page/portal/inicio">Universidad Carlos III de Madrid</a>.
	 	</p>
	 	<p>
	   	Although many of the team members of the GAST group has been involved in the ideas an development of etiquetAR we are some that are working activelly in the application development:<br>
		</p>
		<p>
		   	<strong>Original Idea:</strong><br>
		    Mar Pérez-Sanagustín<br>
		    <strong>Developers:</strong> <br>
		    Mar Pérez-Sanagustín, Alejandro Martínez and Iago Rodríguez López
		</p>

		<p>
			If you have any question or suggestion, here you have the contact details.
			<address>
				<strong>Mar Pérez-Sanagustín</strong><br>
				Departamento de Ingeniería Telemática, Universidad Carlos III de Madrid <br>
				v. Universidad, 30, Edif. Torres Quevedo <br>
				E-28911 Leganés (Madrid) <br>
				<a href="mailto:#">mmpsanag@it.uc3m.es</a>
			</address>
		</p>
	</div>

</html>