<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>estiquetAR | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>The application help</h1>
    <p>
      This is the home page for etiquetAR.
    </p>
  </body>
</html>