

  <div class="center">
  	

	    <%= link_to image_tag("LogoSubscribe.png", :size => "300x290", alt: "etiquetAR"),  signup_path %>
  </div>

  <div class="center">
  	
		<h2>
     	 Tag your learning experiences with
     	 <a href="http://prezi.com/rd7wqoabozdr/etiquetar/?auth_key=36839f2f657f7868c83d398c88265aa9e25926a3">eitquetAR</a>.
    	</h2>
	    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>


 


