	<div id="landing">
	  <div class="container">  
	    <div class="row">
		  <div class="span5">
		    <%= link_to image_tag("LogoSubscribe.png", :size => "150x145", alt: "etiquetAR"),  signup_path %>
			<h1 style="font-size:20px;">Tag your learning experiences!</h1>
		    <p>
		    	<%= link_to "Get Started Now!", signup_path, class: "btn btn-large btn-primary" %>
		  </div>
		  <div class="span7">
		    <div class="js-video" class="span7">
			 <iframe src="http://player.vimeo.com/video/66892008" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>	

		    </div>
		  </div>
		</div>
	  </div>
	</div>

	<div id="content" class="txt-middle">
	  <div class="container">
	    <div class="row">
		  <div class="span12">


			<h2>Etiquetar features</h2>


		    <hr class="dashed">				
		  </div>  
		</div>  
	    <div class="row">
		  <div class="span4 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-display animated"></i>
		    </div>
			<h2>Modern and Minimalistic</h2>
			<p>Bounce is built on the awesome frontend framework Bootstrap, giving you easy access to all of its features.</p>	
		  </div>
		  <div class="span4 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-font animated"></i>
		    </div>
			<h2>Awesome Typography</h2>
			<p>Bounce uses the beautiful Open Sans Google Web Font and Glyphicons Pro to deliver highly scalable icons.</p>	
		  </div>
		  <div class="span4 bouncy">
		    <div class="icon_wrapper">
		      <i class="glyphicons-airplane animated"></i>
		    </div>
			<h2>Launch Ready</h2>
			<p>Bounce comes with several pages and colors, giving you a head start on creating a unique design.</p>	
		  </div>		  
		</div>
		<hr class="dashed">				
	    <div class="row">
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200">
			</a>		
			<h2>Image 1</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200">
			</a>
			<h2>Image 2</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>
		  <div class="span4">
			<a class="thumbnail" href="">
			  <img alt="image" src="http://quickimage.it/400x200">
			</a>
			<h2>Image 3</h2>
			<p>Optional subtext to help better explain the image above can go here.</p>
		  </div>		  
		</div>		
	  </div>
	</div>

	  <div class="center">
   </div>




  






