<!DOCTYPE html>

<html>
  <body>
  	<h1><%= current_user.name %>'s Home etiquetAR</h1>
     <h2>Personalize, group into collections and print your TAGS</h2>
  </body>


<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs" id="myTab">
    <li class="active"><%= link_to "New TAG", new_qr_path%><href="#NewTag" data-toggle="tab"></li>
    

    <p>
      <%= render '/qrs/new' %>
    </p>

     <li class="active"><%= link_to "Your TAGS", qrs_path%><href="#tab2" data-toggle="tab"></li>
    <li><a href="#messages">Messages</a></li>
    <li><a href="#settings">Settings</a></li>
    </ul>
     
    <div class="tab-content ">
    <div class="tab-pane active" id="home">...</div>
    <div class="tab-pane" id="profile">...</div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
    </div>
   
  </div>
    <script>
	    $(function () {
	    $('#myTab a:last').tab('NewTag');
	    })
    </script>





 

</html>


