<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>estiquetAR |  <%= yield(:title) %></title>
  </head>
  <body>
    <h1>The application home</h1>
    <p>
      This is the home page for etiquetAR.
    </p>
  </body>
</html>