<!DOCTYPE html>
<html>
  <head>
    <title>estiquetAR |  <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Home</h1>
  </body>

  <div class="center hero-unit">
  <h1>Welcome to etiquetAR</h1>

  <h2>
    This is the home page for 
    <a href="http://prezi.com/rd7wqoabozdr/etiquetar/?auth_key=36839f2f657f7868c83d398c88265aa9e25926a3">eitquetAR</a>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

</html>


