<!DOCTYPE html>

<html>
  <head>
    <% provide(:title, 'Tag It!') %>
    <title>estiquetAR |  <%= yield(:title) %></title>
  </head>
  <body>
     <h1>Personalize, group and print your TAGS</h1>
  </body>

  <div class="center hero-unit">
  <h2>
   This is the page where you create your qr codes.
  </h2>

 
</div>

 <p>Create a new TAG.</p>
<p><%= link_to "New tag", new_qr_path, class: "btn btn-large btn-primary" %></p>

</html>


