<div class="well">
  <h2> Localization </h2>
  <div class="field">
    <%= f.label 'Address' %><br />
    <%= f.text_field :address, placeholder:'The address where the qr is located' %>
  </div>
</div>
