

<!-- Visualización mejor -->
<div class=" well span5 offset3" align="center">

		<h1>¿Qué sabes sobre <%= @qr.qr_name%>?</h1>
		<ul class="unstyled"><% @qr.resources.each do |res| %>
      		<% if res.profile != nil %>
      			<li><h2><%= link_to res.profile.name, {action: :go, controller: :resources, res_id: res.id, qr_id: @qr.id} %></h2></li>
      		<% end %>
    	<% end %>
		</ul>
</div>
<div class="span12" align="center">
<em> We are on beta!. Our apologies for any mistake.<em>
</div>
