


<!-- Visualización mejor -->
<div class=" well span5" align="center">

		<h1>Choose your profile (select your degree):</h1>
		<ul><% @qr.resources.each do |res| %>
      <% if res.profile != nil %>
      <li><h2><%= link_to res.profile.name, :controller => :qrs, :action => :go, :p => res.profile.id %></h2></li>
      <% end %>
    <% end %>
		</ul>
</div>
