<% provide(:title, 'Sign up') %>
<!DOCTYPE html>
<html>
  <head>
    <title>etiquetAR | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Sign up in etiquetAR</h1>
    <p>
      This is the sign up page for etiquetAR.
    </p>
  </body>
</html>