<div class="container">
<iframe width=100% height=100% src="<%= @resource.uri %>"></iframe>
</div>
<%= link_to action: :comments, controller: :resources, id: @resource.id do %>
<%= @comments.size %> comments<% end %>