

  <div id="footer">
    <div class="container">
      <div class="row">
      <div class="span3">
      <h3>Quick Links</h3>
      <ul class="animated">
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="http://mperezsanagustin.wordpress.com/">News</a></li>
      </ul>     
      </div>
      <div class="span3">   
      <h3>Company</h3>
      <ul class="animated">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">FAQ</a></li>
      </ul> 
      </div>
      <div class="span3">
      <h3>We're Social</h3>
      <ul class="animated">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Google &#43;</a></li>
      </ul>     
      </div>
      <div class="span3">
      <h3>Subscribe</h3>
      <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>      
        <form>
              <input class="span3" type="text" placeholder="Your Email" name="subscribe">
        <button class="btn btn-primary">Subscribe</button>
      </form>
      </div>      
    </div>    
      </div>    
    </div>

  <div id="copywrite">
    <div class="container">
      <div class="row">
      <div class="span12">
        <p>&copy; 2013 Etiquetar <span id="totop" class="pull-right">Back to Top <i class="icon-arrow-up icon-white"></i></span></p>      
      </div>      
    </div>    
      </div>    
    </div>
