<footer class="footer">
  <small>
    <a href="http://prezi.com/rd7wqoabozdr/etiquetar/?auth_key=36839f2f657f7868c83d398c88265aa9e25926a3">etiquetAR</a>
    by <a href="http://mperezsanagustin.wordpress.com/about/">Mar Pérez-Sanagustín</a>  
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://mperezsanagustin.wordpress.com/">News</a></li>
    </ul>
  </nav>
</footer>