  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <%= yield %>
  </div>
  <div class="modal-footer">
    Click on anything to edit it! <a href="#" data-dismiss="modal" class="btn btn-primary btn-save-modal">Close</a>
  </div>
